@{
    ViewData["Title"] = "Create Read Update ande Delete";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi sitio</h1>
    <p>CRUD en Azure para proyecto en <a href="https://docs.microsoft.com/es-es/dotnet/csharp/tour-of-csharp/">C#</a>.</p>
</div>
